<template>
  <div id="app">
    <b-container>
      <b-row class="mt-2 mb-4" align-v="center">
        <b-col cols="6" sm="3">Дата и время начала</b-col>
        <b-col cols="6" sm="3">
          <date-picker v-model="form.start_date" type="datetime" format="YYYY-MM-DD HH:mm" :confirm="true" />
        </b-col>
      </b-row>

      <div class="mb-4" v-if="form.start_date">
        <table class="table table-sm">
          <thead>
          <tr>
            <td width="25%">
              <b-icon-cone-striped />
              <span class="d-none d-sm-inline-block pl-2">Расстояние</span>
            </td>
            <td>
              <b-icon-chat-left-dots />
              <span class="d-none d-sm-inline-block pl-2">Наименование</span>
            </td>
            <td>
              <b-icon-clock-history />
              <span class="d-none d-sm-inline-block pl-2">Открытие</span>
            </td>
            <td>
              <b-icon-clock-fill />
              <span class="d-none d-sm-inline-block pl-2">Закрытие</span>
            </td>
            <td class="delete"></td>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(checkpoint, index) in form.checkpoints" :key="'row-' + index">
            <td>
              <b-form-input v-model="checkpoint.distance" type="number" min="0" :disabled="!index" size="sm"></b-form-input>
            </td>
            <td>
              <b-form-input v-model="checkpoint.title" size="sm"></b-form-input>
            </td>
            <td>
              {{ open(checkpoint.distance) }}
              <div class="diff">{{ diff( open(checkpoint.distance, false) ) }}</div>
            </td>
            <td>
              {{ close(checkpoint.distance) }}
              <div class="diff">{{ diff( close(checkpoint.distance, false) ) }}</div>
            </td>
            <td class="delete">
              <b-button size="sm" variant="outline-danger" @click="form.checkpoints.splice(index, 1)" v-if="!!index" class="d-none d-sm-block"><b-icon-trash-fill /></b-button>
            </td>
          </tr>
          </tbody>
        </table>

        <b-button variant="success" @click="add_row">Добавить КП</b-button>
      </div>
    </b-container>
  </div>
</template>

<script>
  import DatePicker from 'vue2-datepicker';
  import moment from 'moment';
  import 'vue2-datepicker/locale/ru';
  import 'vue2-datepicker/index.css';

  import {BIconClockFill, BIconClockHistory, BIconConeStriped, BIconChatLeftDots, BIconTrashFill} from 'bootstrap-vue'

  moment.locale('ru');

  export default {
    name: 'App',
    components: {
      DatePicker,
      BIconClockFill,
      BIconClockHistory,
      BIconConeStriped,
      BIconChatLeftDots,
      BIconTrashFill,
    },
    data() {
      return {
        form: {
          start_date: null,
          checkpoints: [
            {
              distance: 0,
              title: '',
            },
            {
              distance: 100,
              title: '',
            },
            {
              distance: 200,
              title: '',
            },
          ],
        },
        format: 'D MMM HH:mm',
      };
    },
    watch: {
      form: {
        deep: true,
        handler() {
          localStorage.setItem('form', JSON.stringify(this.form));
        },
      }
    },
    methods: {
      add_row() {
        this.form.checkpoints.push({
          distance: '',
          title: '',
        });
      },
      to_minutes(value) {
        return (value * 60);

        // const hours = Math.floor(value);
        // const minutes = Math.round((value - hours) * 60);
        // return hours * 60 + minutes;
      },
      open(distance, format = true) {
        distance = Math.max(0, distance | 0);

        const start = moment(this.form.start_date).set('seconds', 0);
        let end = start;

        if (distance !== 0) {
          if (distance > 0) {
            // 0 ... 200
            end = end.add(this.to_minutes(Math.min(distance, 200) / 34), 'minutes');
            distance -= 200;
          }

          if (distance > 0) {
            // 200 ... 400
            end = end.add(this.to_minutes(Math.min(distance, 200) / 32), 'minutes');
            distance -= 200;
          }

          if (distance > 0) {
            // 400 ... 600
            end = end.add(this.to_minutes(Math.min(distance, 200) / 30), 'minutes');
            distance -= 200;
          }

          if (distance > 0) {
            // 600 ... 1000
            end = end.add(this.to_minutes(Math.min(distance, 400) / 28), 'minutes');
            distance -= 400;
          }

          if (distance > 0) {
            // 1000 ... 1200
            end = end.add(this.to_minutes(Math.min(distance, 200) / 26), 'minutes');
            distance -= 200;
          }

          if (distance > 0) {
            // 1200 ... 1800
            end = end.add(this.to_minutes(Math.min(distance, 600) / 25), 'minutes');
            distance -= 600;
          }

          if (distance > 0) {
            // 1800 ...
            end = start.add(this.to_minutes(distance / 24), 'minutes');
          }
        }

        if (end.get('seconds') >= 30) {
          end.add(1, 'minute');
        }

        end.set('seconds', 0);

        return format ? end.format(this.format) : end;
      },
      close(distance, format = true) {
        distance = Math.max(0, distance | 0);

        const start = moment(this.form.start_date).set('seconds', 0);
        let end;

        if (distance === 0) {
          end = start.add(1, 'hour');
        }
        else if (distance <= 60) {
          end = start.add(this.to_minutes(distance / 20), 'minutes').add(1, 'hour');
        }
        else if (distance === 200) {
          end = start.add(13.5, 'hours');
        }
        else if (distance === 300) {
          end = start.add(20, 'hours');
        }
        else if (distance === 400) {
          end = start.add(27, 'hours');
        }
        else if (distance === 600) {
          end = start.add(40, 'hours');
        }
        else if (distance === 1000) {
          end = start.add(75, 'hours');
        }
        else if (distance === 1200) {
          end = start.add(90, 'hours');
        }
        else {
          end = start;

          if (distance > 0) {
            // 0 ... 600
            end = start.add(this.to_minutes(Math.min(distance, 600) / 15), 'minutes');
            distance -= 600;
          }

          if (distance > 0) {
            // 600 ... 1000
            end = start.add(this.to_minutes(Math.min(distance, 400) / 11.428), 'minutes');
            distance -= 400;
          }

          if (distance > 0) {
            end = start.add(this.to_minutes(distance / 13.333), 'minutes');
          }
        }

        if (end.get('seconds') >= 30) {
          end.add(1, 'minute')
        }

        end.set('seconds', 0);

        return format ? end.format(this.format) : end;
      },
      diff(time) {
        const date = moment.utc(moment(time).diff(moment(this.form.start_date).set('seconds', 0))).add(2, 'second'); // add 2 seconds to skip rounding issues
        const days = (date.format('D') | 0) - 1;

        return `${days ? days + ' д.' : ''} ${date.format('H:mm')}`;
      }
    },
    created() {
      let form = localStorage.getItem('form');
      if (form) {
        form = JSON.parse(form);
        this.form = form;

        if (this.form.start_date) {
          this.form.start_date = new Date(this.form.start_date);
        }
      }

      if (!this.form.start_date) {
        this.form.start_date = moment().add(1, 'day').set({'hour': 6, 'minutes': 0, 'seconds': 0}).toDate();
      }
    },
  };
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
  }

  body, td {
    font-size: 15px;
  }

  thead td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  tbody td {
    vertical-align: middle !important;
    min-width: 57px;
  }

  td.delete {
    width: 1%;
    min-width: 0 !important;
    padding: 0 !important;
  }

  .mx-datepicker {
    width: 100%;
  }

  .diff {
    font-size: 80%;
    color: gray;
  }
</style>
